<app-page-header [heading]="'Corporate Inquiry'" [icon]="'fa-search'"></app-page-header>

<br>
<div class="content-section implementation">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>
<br>

<div id="wrapper" class="center" style="text-align: center">
    <div style="width:70%; display: inline-block; text-align: left; box-shadow:1px 1px 1px darkgrey" ui-grid-responsive ui-fluid ui-grid-pad>
        <p-chips [(ngModel)]="values" pTooltip="Enter elements to look for, add the keywords @item, @ean, @supplier, @order, @invoice to precise your lookup" 
                 tooltipPosition="right"> </p-chips>
    </div>
</div>
<br>
<div style="text-align: center;">
    <button type="text" pButton (click)="search()" label="Search" [disabled]="!searchButtonEnable"></button>
    <p></p>
</div>


<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  item-width="400px" table-layout="fixed" *ngIf="performedResearch" >
<p-table  #result [value]="searchResult" sortMode="multiple"
             [resizableColumns]="true" columnResizeMode="expand"
             [rows]="5"  [rowsPerPageOptions]="[5,10,50,100]"
             [paginator]="true" [pageLinks]="3" 
             [responsive]="true" [totalRecords]="totalRecords"
             [reorderableColumns]="true" scrollHeight="400px"
             [globalFilter]="gb"
             selectionMode="single" [(selection)]="selectedElement" tableStyleClass="table-layout: auto;">

    <p-header >
        <div class="pull-right">
            <input  type="text" #gb placeholder="Type text to filter..." 
                    style="width:400px; border-radius: 10px">
        </div>
        <div class="ui-helper-clearfix" >
            <button type="button" pButton icon="fas fa-file" iconPos="left" 
                    class="CSV_Button"
                    label="CSV" (click)="result.exportCSV()" style="float:left"></button>
        </div>
        <!--div style="text-align:right">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="columns"></p-multiSelect>
        </div-->
    </p-header>
    <p-column *ngFor="let col of columnsResult" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
</p-table>
<i class="pull-right" style="font-size:smaller;" *ngIf="searchResult">{{searchResult.length}} references</i>
</div>
<!-- Business rules -->
<!-- ITEM/ARTICLE:  If selection in the panel of result then display -->
<!-- ITEM > Product information -->
<!-- ORDER > Order information -->
<!-- INVOICE > Invoice information -->
<div class="form-group">
    &nbsp;
</div>
<div class="row" *ngIf="selectedElement.COL1==='ITEM'">
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [label]="'Item Information'" (click)="clickItemDetail()"></app-stat>
    </div>

    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'warning inverse'" [icon]="'fa-shopping-cart'" [label]="'Orders'" (click)="clickItemDetail()"></app-stat>
    </div>

    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'success inverse'" [icon]="'fa-tasks'" [label]="'Receiving'" (click)="clickItemDetail()"></app-stat>
    </div>

    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'danger inverse'" [icon]="'fa-newspaper-o'" [label]="'Invoices'" (click)="clickItemDetail()"></app-stat>
    </div>
</div>

<br><br>
<item-cmp *ngIf="itemDetail" [itemInternalCode]=selectedElement.COL2> </item-cmp>