<app-page-header [heading]="'Reporting Tool Box'" [icon]="'fa-calendar'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<div class="bbs_search_panel"  >
    <span style="margin-right:20px; padding-left: 15px; font-weight: bolder">Reporting : </span>
    <span style="overflow: hidden; padding-right: .5em; width: 90%; line-height: 25px">
        <p-autoComplete [(ngModel)]="selectedReport" [suggestions]="filteredReports" 
                        (completeMethod)="filterReports($event)" [size]="30"
                        [style]="{'width':'50%'}" [inputStyle]="{'width':'70%'}"
                        [minLength]="1"  [dropdown]="true">
            <ng-template let-report pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{report}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="openReport()" icon="fas fa-search" label="OPEN" [disabled]="searchCode === ''" style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
    </span>
</div>
<p></p>


<!-- Panel result style="width: 50%;" -->

<div>
    <!-- Display report result-->
    <div>

    </div>
    <div>
        <!-- Select type of layout-->
        <div>

        </div>
        <!-- Select field  -->
        <div>

        </div>
    </div>
</div>

<!--div *ngIf="1 === 2">
    
<div *ngIf="widget.widtable==1">
    <p-table [attr.id]="widget.widid" #result [value]="widget.result" sortMode="multiple" 
    [rows]="widget.widrows"  [rowsPerPageOptions]="[5,10,50,100]"
    [paginator]="true" [pageLinks]="3" 
    [columns]="widget.columns"
    selectionMode="single" [(selection)]="selectedElement" 
    [resizableColumns]="true" columnResizeMode="expand"
    [responsive]="true" [totalRecords]="widget.result.length"
    [reorderableColumns]="true" scrollHeight="400px"
    [globalFilter]="gb" [autoLayout]="true"tableStyleClass="table-layout: auto;">
        
    < FILTER >
    <ng-template pTemplate="caption">
            <div class="pull-right">
                    <input  type="text" #gb placeholder="Type text to filter..." 
                        (input)="result.filterGlobal($any($event.target).value, 'contains')" 
                        [style.width]="40*widget.width +'px'">
                    </div>
                    <div class="ui-helper-clearfix" >
                    <button type="button" pButton icon="fas fa-file" iconPos="left" 
                        class="CSV_Button"
                        label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                    </div>
    </ng-template>
    <-- HEADER >
        <ng-template pTemplate="header">            
            <tr>
                <th *ngFor="let col of widget.columns" [pSortableColumn]="col.field" 
                    pReorderableColumn pResizableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
    <-- BODY >
        <ng-template pTemplate="body" let-rowData let-columns="widget.columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of widget.columns" class="ui-resizable-column">
                        {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <i class="pull-right" style="font-size:smaller;" *ngIf="widget.dataReady">{{widget.result.length}} references</i>
</div -->

<!-- CHART RESULT WIDGET>
<div *ngIf="widget.widchart==1">
    <canvas baseChart height="130" >
    </canvas>
</div>
</div -->
<br>
