<app-page-header [heading]="'Supplier schedule by calendar schedule'" [icon]="'fa-calendar'"
                 [(screenID)]="screenID"></app-page-header>
                 
<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>


<!-- Search Panel -->
<div class="bbs_search_panel"  >
    <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Supplier : </span>
    <span style="overflow: hidden; padding-right: .5em; width: 90%; line-height: 25px">
        <input type="text"  [(ngModel)]="searchCode" placeholder="  Enter a code or a description" 
               style="width: 50%;margin-left: 10px;"/>     
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                [disabled]="searchCode === '' || periodStart === '' || periodEnd === ''" 
                style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
    </span>
</div>
<div class="bbs_search_sub_panel"  >
    <span style="margin-right:1.3em; padding-left: 15px; font-weight: bolder">Period start : </span>
    <p-calendar [(ngModel)]="periodStart"  
                [minDate]="dateTomorrow"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                name="scheduleStart" [showIcon]="true" 
                [showOnFocus]="true" [showOtherMonths]="true"></p-calendar>

    <span style="margin-left:11em; padding-left: 15px; font-weight: bolder">Period end : </span>
    <p-calendar [(ngModel)]="periodEnd"  
                [minDate]="dateTomorrow"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                name="scheduleEnd" [showIcon]="true" 
                [showOnFocus]="true" [showOtherMonths]="true" ></p-calendar>
</div>
<p></p>

<p-dialog header="Update completed" [(visible)]="displayUpdateCompleted" modal="modal" width="500" responsive="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
</p-dialog>

<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">

        <p-table #result [value]="searchResult" sortMode="multiple" 
        [rows]="5"  [rowsPerPageOptions]="[5,10,50]"
        [paginator]="true" [pageLinks]="3" 
        [columns]="columnsResult"
        selectionMode="single" [(selection)]="selectedElement" 
        [resizableColumns]="true" columnResizeMode="expand"
        [responsive]="true" [totalRecords]="searchResult.length"
        [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)"
        [globalFilter]="gb" [autoLayout]="true" tableStyleClass="table-layout: auto;">
        
        <!-- FILTER -->
        <ng-template pTemplate="caption">
                <div class="pull-right">
                        <input  type="text" #gb placeholder="Type text to filter..." 
                            (input)="result.filterGlobal($any($event.target).value, 'contains')">
                        </div>
                        <div class="ui-helper-clearfix" >
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                            class="CSV_Button"
                            label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                        </div>
        </ng-template>
        <!-- HEADER -->
            <ng-template pTemplate="header">            
                <tr>
                    <th *ngFor="let col of columnsResult" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
        <!-- BODY -->
            <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columnsResult" class="ui-resizable-column">
                            {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <i class="pull-right" style="font-size:smaller;" >{{searchResult.length}} references</i>
</div>
<!-- List of Schedules -->
<br>
<!--div *ngIf="!selectedElement" style="text-align:center">
    <button  disabled type="button" pButton icon="fa-file-o"  label="Review schedules" (click)="reviewSchedule()"></button>
</div-->

<div *ngIf="selectedElement" style="text-align:center">
    <button  type="button" pButton icon="fas fa-file"  label="Review schedules" (click)="reviewSchedule()"></button>
</div>

<!--div *ngIf="selectedElement"-->
<div *ngIf="processReviewSchedule">
    <p></p>
    <div *ngFor="let schedule of selectedElement.schedules; let indice=index">
        <!--p>{{indice}}</p-->
        <form ngNativeValidate>
        <div class="ui-g-12" > 
                <p-panel header="Schedule#{{indice}} {{periodStart | date:'MM/dd/yyyy' }} - {{periodEnd | date:'MM/dd/yyyy' }}" 
                        [toggleable]="true" collapsed="true">
                    <!-- Panel for the list of sites -->    
                    <div class="row">
                        <div class="ui-g-9"> 
                            <p-panel [toggleable]="true" collapsed="true">
                                <p-header>Schedule applied on {{schedule.sites.length}} sites </p-header>
                                <div class="alternateColor">
                                    <ng-container *ngFor="let site of schedule.sites">
                                        <div>
                                            <input type="checkbox" [(ngModel)]="site.applyChanges" [ngModelOptions]="{standalone: true}"/>
                                            {{ site.code }}  {{site.description}} 
                                        </div>
                                    </ng-container>
                                </div>
                            </p-panel>
                        </div>
                    </div>

                    <div id="tableContainer">
                        <table class="all-table" [style.width]="temporarySchedule[indice].widthTable+'px'">
                            <colgroup>
                                <col style="width:200px;" />
                                <col style="width:200px;" />
                                <col style="width:100px;" ng-repeat="i in temporarySchedule[indice].numberWeekDaysArray"/>
                            </colgroup>
                                <thead>
                                    <!-- Day of the week  -->
                                        <tr>
                                                <th> </th>
                                                <th> </th>
                                                <ng-container *ngFor="let i of temporarySchedule[indice].numberWeekDaysArray">
                                                    <th [ngClass]="{'isNotInPeriod': isNotTempPeriod(indice,i)}" style="text-align:center; background-color:lightgray" >{{temporarySchedule[indice].columnName[i]}}</th>
                                                </ng-container>
                                            </tr>
                                    <tr>
                                        <th class="newScheduleData">
                                                <p-calendar 
                                                [(ngModel)]="temporarySchedule[indice].start"  
                                                [minDate]="dateTomorrow"
                                                [readonlyInput]="true"
                                                dateFormat="mm/dd/yy"
                                                name="scheduleStart{{indice}}" [showIcon]="true" 
                                                [showOnFocus]="true" [showOtherMonths]="true"
                                                (onSelect)="refreshTimeline(temporarySchedule[indice])" ></p-calendar>
                                       </th>
                                        <th class="newScheduleData">
                                                <p-calendar 
                                                [(ngModel)]="temporarySchedule[indice].end"  
                                                [readonlyInput]="true"
                                                [minDate]="dateTomorrow"
                                                dateFormat="mm/dd/yy"
                                                name="scheduleEnd{{indice}}" [showIcon]="true" 
                                                [showOnFocus]="true" [showOtherMonths]="true"
                                                (onSelect)="refreshTimeline(temporarySchedule[indice])" ></p-calendar>
                                      </th>
                                        <ng-container *ngFor="let i of temporarySchedule[indice].numberWeekDaysArray; let ind = index;trackBy:trackByIdx">
                                            <th style="text-align:center;" [ngClass]="{'isNotInPeriod': isNotTempPeriod(indice,ind)}">{{temporarySchedule[indice].columnSchedule[i]}}</th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody>
                                     <!-- Order day -->
                                    <tr class="rowcolorgray">
                                        <td>Order day</td>
                                        <td></td>
                                        <ng-container *ngFor="let i of temporarySchedule[indice].numberWeekDaysArray; let ind = index;trackBy:trackByIdx">  
                                            <td [ngClass]="{'isOrderDay': temporarySchedule[indice].orderActiveOriginal[ind], 'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                    <i class="fas fa-check-circle" *ngIf="isOrderDay(indice,ind)" ></i>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr class="newScheduleData">
                                        <td>Order day</td>
                                        <td></td>      
                                        <ng-container *ngFor="let oActive of temporarySchedule[indice].orderActive; let ind = index;trackBy:trackByIdx">
                                            <td [ngClass]="{'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                <input type="checkbox" [disabled]="isNotTempPeriod(indice,ind)" style="text-align: center" 
                                                      name="orderSunday_{{indice}}_{{ind}}" 
                                                      [(ngModel)]="temporarySchedule[indice].orderActive[ind]"
                                                      (change)="activateDay(indice,ind)"/>
                                            </td>     
                                        </ng-container>
                                    </tr>
                                    <!--  Lead Time -->
                                    <tr class="rowcolorgray" >
                                        <td class="">Lead time</td>
                                        <td class="">(days)</td>    
                                        <ng-container *ngFor="let i of temporarySchedule[indice].orderActive; let ind = index;trackBy:trackByIdx">
                                            <td [ngClass]="{'isOrderDay': temporarySchedule[indice].orderActive[ind], 
                                                            'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                {{temporarySchedule[indice].leadTimeOriginal[ind]}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr class="newScheduleData">
                                        <td class="">Lead time</td>
                                        <td class="">(days)</td>  
                                        <ng-container *ngFor="let ltime of temporarySchedule[indice].leadTime; let ind = index;trackBy:trackByIdx">
                                            <td [ngClass]="{'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                <input *ngIf="temporarySchedule[indice].orderActive[ind]" 
                                                      [disabled]="!temporarySchedule[indice].orderActive[ind]" 
                                                      type="text" style="text-align: center; width: 50%" 
                                                      [(ngModel)]="temporarySchedule[indice].leadTime[ind]"
                                                      (change)="changeMade(indice,ind)"
                                                       name="leadTime_{{indice}}_{{ind}}" pattern="[0-9]{0,3}" 
                                                      title="Lead time is max on 3 decimals."/>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <!-- Collection Time -->
                                    <tr class="rowcolorgray">
                                        <td class="">Collection time</td>
                                        <td class="">(Time)</td>
                                        <ng-container *ngFor="let i of temporarySchedule[indice].orderActive;let ind = index;trackBy:trackByIdx">
                                            <td [ngClass]="{'isOrderDay': temporarySchedule[indice].orderActive[ind],'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                    {{temporarySchedule[indice].collectionTimeOriginal[ind]}}
                                            </td>                                        
                                        </ng-container>
                                    </tr>
                                    <tr class="newScheduleData">
                                        <td>Collection time</td>
                                        <td>(Time)</td>
                                        <ng-container *ngFor="let ctime of temporarySchedule[indice].collectionTime;  let ind = index;trackBy:trackByIdx">
                                            <td [ngClass]="{'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                <input *ngIf="temporarySchedule[indice].orderActive[ind]" 
                                                [disabled]="!temporarySchedule[indice].orderActive[ind]" type="text" 
                                                style="text-align: center; width: 50%" 
                                                [(ngModel)]="temporarySchedule[indice].collectionTime[ind]"
                                                (change)="changeMade(indice,ind)"
                                                name="collectionTime_{{indice}}_{{ind}}" pattern="[0-9]{4}" max="2359" 
                                                title="Collection time respect format HHMM (24 hours)." />
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <!-- Delivery Time -->
                                    <tr class="rowcolorgray">
                                        <td>Delivery time</td>
                                        <td>(Time)</td>
                                        <ng-container *ngFor="let i of temporarySchedule[indice].orderActive;   let ind = index;trackBy:trackByIdx">
                                            <td  [ngClass]="{'isOrderDay': temporarySchedule[indice].orderActive[ind],'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                {{temporarySchedule[indice].deliveryTimeOriginal[ind]}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr class="newScheduleData">
                                        <td>Delivery time</td>
                                        <td>(Time)</td>
                                        <ng-container *ngFor="let dtime of temporarySchedule[indice].deliveryTime; let ind = index;trackBy:trackByIdx">
                                            <td [ngClass]="{'isNotInPeriod': isNotTempPeriod(indice,ind)}">
                                                <input *ngIf="temporarySchedule[indice].orderActive[ind]" 
                                                [disabled]="!temporarySchedule[indice].orderActive[ind]" type="text" 
                                                 style="text-align: center; width: 50%" 
                                                 [(ngModel)]="temporarySchedule[indice].deliveryTime[ind]"
                                                 (change)="changeMade(indice,ind)"
                                                 name="deliveryTime_{{indice}}_{{ind}}"  pattern="[0-9]{4}" max="2359" 
                                                title="Delivery time respect format HHMM (24 hours)."/>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                        </table>
                    </div>

                </p-panel>
        </div>
        </form>
    </div>
</div>

<br>
<!-- Validation -->
<p></p>
<p style='border-style: solid; border: black'></p>
<div style="text-align:center" *ngIf="activeValidateButton">
    <button  type="button" pButton icon="fas fa-dot-circle"  label="Validate" (click)="validationSchedule()"></button>
</div>
<br>
