<app-page-header [heading]="'Picking unit change'" [icon]="'fa-tools'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<!-- Search Panel -->
<div class="bbs_search_panel"  >
        <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Item code : </span>
        <span style="overflow: hidden; padding-right: .5em; width: 90%; line-height: 25px">
        <input type="text"  [(ngModel)]="searchItemCode" placeholder="  Enter a code or a description" 
                style="width: 50%;margin-left: 10px;"/>     
        </span>

        <span class="pull-right" style="padding-right: 20px">
                <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                        [disabled]="searchItemCode === '' && selectedPU === ''" 
                        style="margin-right: 15px">
                </button>
                <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
        </span>
</div>
<div class="bbs_search_sub_panel"  >
        <span style="margin-right:1.3em; padding-left: 15px; font-weight: bolder">Picking unit : </span>
        <span style="overflow: hidden; padding-left: .7em; width: 90%; line-height: 25px">
        <p-dropdown [options]="pickingUnits" [(ngModel)]="selectedPU" placeholder="Select a picking unit" 
                optionLabel="name" [showClear]="true">
        </p-dropdown>
        </span>
</div>


<p></p>

<p-dialog header="Update completed" [(visible)]="displayUpdateCompleted" modal="modal" width="500" responsive="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
</p-dialog>

<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">

        <p-table #result [value]="searchResult" sortMode="multiple" 
        [rows]="5"  [rowsPerPageOptions]="[5,10,50]"
        [paginator]="true" [pageLinks]="3" 
        [columns]="columnsResult"
        selectionMode="single" [(selection)]="selectedElement" 
        [resizableColumns]="true" columnResizeMode="expand"
        [responsive]="true" [totalRecords]="searchResult.length"
        [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)"
        [globalFilter]="gb" [autoLayout]="true"tableStyleClass="table-layout: auto;">
        
        <!-- FILTER -->
        <ng-template pTemplate="caption">
                <div class="pull-right">
                        <input  type="text" #gb placeholder="Type text to filter..." 
                            (input)="result.filterGlobal($any($event.target).value, 'contains')">
                        </div>
                        <div class="ui-helper-clearfix" >
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                            class="CSV_Button"
                            label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                        </div>
        </ng-template>
        <!-- HEADER -->
            <ng-template pTemplate="header">            
                <tr>
                    <th *ngFor="let col of columnsResult" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th>Change to</th>
                    <th>Action</th>
                </tr>
            </ng-template>
        <!-- BODY -->
            <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columnsResult" class="ui-resizable-column">
                            {{rowData[col.field]}}
                    </td>
                    <td>        
                        <p-dropdown [options]="rowData['PICKLIST']" [(ngModel)]="rowData['NEWPICKUNIT']" appendTo="body" optionLabel="name"  [showClear]="true">
                        </p-dropdown>
                    </td>
                    <td>
                        <button type="submit" pButton (click)="applyChange(rowData['WHSID'], rowData['ITEMCODE'], rowData['LVCODE'], rowData['PICKUNIT'], rowData['NEWPICKUNIT'])" icon="fas fa-wrench" label="FIX" 
                            [disabled]="rowData['PICKUNIT'] === rowData['NEWPICKUNIT']" 
                            style="margin-right: 15px">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <i class="pull-right" style="font-size:smaller;" >{{searchResult.length}} references</i>
</div>