
<!-- Business rules -->
<!-- ITEM/ARTICLE:  If item selected in the panel of result then display -->
<!-- ITEM > Product information -->
<!-- ITEM > Order information -->
<!-- ITEM > Invoice information -->

<div class="row" *ngIf="itemInfos.externalcode !== ''">
    <div class="col-md-4">
        <div class="primary card-inverse">
            <!-- ITEM General data -->
            <div class="card-header py-0 px-2">
                <div class="row">
                    <p-panel [toggleable]="true" [rows]="2" [ngStyle]="{'width': '100%' }">
                        <p-header>
                            <b>Item Card</b>
                        </p-header>
                        <p-dataList value="itemInfos.lvs" [paginator]="true" [rows]="2">
                            <ng-template let-itemInfo pTemplate="item">
                                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:small;">
                                    <div class="ui-grid-row" [ngStyle]="{'background-color': getStatusColor(itemInfo.status, itemInfo.mainlv),
                                                                         'font-weight': itemInfo.status!=1? 'normal':'thicker'}">
                                        <div class="ui-grid">
                                            <div class="ui-grid ui-grid-responsive ui-fluid ">
                                                <div class="ui-grid-row" style="font-weight: bold; text-decoration: underline">
                                                    <div>{{itemInfo.fullcode}} {{itemInfo.description}}</div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div>Type: {{itemInfo.type}} </div>
                                                    <!--div class="pull-right">Flow: {{itemInfo.flow}}</div-->
                                                </div>
                                                <div class="ui-grid-row" *ngIf="itemInfo.barcode.length > 0">
                                                    <div>UPC/EAN: {{itemInfo.barcode[0].barcode}}</div>
                                                </div>
                                                <div class="ui-grid-row" *ngIf="itemInfo.logisticcode.length > 0">
                                                    <div>Carton code: {{itemInfo.logisticcode[0].cartoncode}}</div>
                                                </div>
                                                <div class="ui-grid-row .col-xs-6" *ngIf="itemInfo.ipck > 0">
                                                    <div>IPCK: {{itemInfo.ipck}} SKU(s)</div>
                                                </div>
                                                <div class="ui-grid-row .col-xs-6" *ngIf="itemInfo.pck > 0">
                                                    <div>PCK: {{itemInfo.pck}} {{itemInfo.ipck > 0 ? 'IPCK(s)' : 'SKU(s)'}}</div>
                                                </div>
                                                <div class="ui-grid-row .col-xs-6" *ngIf="itemInfo.pallet > 0">
                                                    <div>TI/HI: {{itemInfo.layer}} PCK / {{itemInfo.pallet}} Layers</div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div>Created on {{itemInfo.creationdate | date}} by {{itemInfo.user}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataList>
                        <div>
                            <form>
                                <fieldset>
                                <legend></legend>
                                 <input type="text" 
                                    [ngStyle]="{'background-color': inactiveColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled> Inactive
                                 <input type="text" 
                                    [ngStyle]="{'background-color': activeColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled> Active
                                 <input type="text" 
                                    [ngStyle]="{'background-color': mainColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled> Main LV
                                   <i class="pull-right">{{itemInfos.lvs.length}} LVs</i>
                                </fieldset>
                            </form>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="primary card-inverse">
            <!-- Purchasing data -->
            <div class="card-header py-0 px-2">
                <div class="row">
                    <p-panel [toggleable]="true" [ngStyle]="{'width': '100%' }">
                        <p-header>
                            Purchasing view
                        </p-header>
                        <p-dataList value="itemPurchasingInfos.costs" [paginator]="true" [rows]="3">
                            <ng-template let-itemPurchasingInfo pTemplate="item">
                                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:small;">
                                    <div class="ui-grid-row" [ngStyle]="{'background-color': itemPurchasingInfo.mainsupplier==1? mainColor:'white'}">
                                        <div class="ui-grid">
                                            <div class="ui-grid ui-grid-responsive ui-fluid ">
                                                <div class="ui-grid-row" style="font-weight: bold; text-decoration: underline">
                                                    <div>{{itemPurchasingInfo.suppliercode}}/{{itemPurchasingInfo.commercialcode}} {{itemPurchasingInfo.supplierdescription}}</div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div>{{itemPurchasingInfo.fullcode}} {{itemPurchasingInfo.itemdescription}}</div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div>Site: {{itemPurchasingInfo.site}} </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div>Cost Price: {{itemPurchasingInfo.cost | currency:'USD': '2'}} / {{itemPurchasingInfo.uapp}}</div>
                                                </div>
                                                <div class="ui-grid-row" *ngFor="let discount of itemPurchasingInfo.discounts" >
                                                    <div *ngIf="discount.amount > 0">Discount: ({{discount.type}}) - {{discount.unit == 'C' ? (discount.amount | currency:'USD':'2') + '/ ' + discount.uapp  :  discount.amount + discount.unit}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataList>
                            <input type="text" 
                            [ngStyle]="{'background-color': activeColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled> Active
                            <input type="text" 
                            [ngStyle]="{'background-color': mainColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled> Main Vendor
                            <i class="pull-right" *ngIf="itemPurchasingInfos">{{itemPurchasingInfos.costs.length}} active/future suppliers</i>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="primary card-inverse">
            <!-- Retail data -->
            <div class="card-header py-0 px-2">
                <div class="row">
                    <p-panel [toggleable]="true" [ngStyle]="{'width': '100%' }">
                        <p-header>
                            Retail view
                        </p-header>

                        <p-fullCalendar #fc [events]="itemRetailInfos.retails" [header]="headersRetail" [eventLimit]="4" [editable]="true"
                            (onEventClick)="handleRetailClick($event)" >
                        </p-fullCalendar>
                        <p-dialog header="Retail Details" [(visible)]="dialogRetailVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
                                [style]="{'overflow':'visible'}" [resizable]="true" [width]="500">
                                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="retailSelected">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label for="vin">Code</label></div>
                                        <div class="ui-grid-col-8"><input id="code" [(ngModel)]="retailSelected.pricelist" disabled/></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label for="vin">Price List</label></div>
                                        <div class="ui-grid-col-8"><input id="title" [(ngModel)]="retailSelected.pricelistdescription" disabled size="50"/></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label for="vin">Priority</label></div>
                                        <div class="ui-grid-col-8"><input id="title" [(ngModel)]="retailSelected.priority" disabled/></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label for="vin">Item</label></div>
                                        <div class="ui-grid-col-8"><input id="title" [(ngModel)]="retailSelected.itemfulldescription" disabled size="50"/></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label for="start">Start</label></div>
                                        <div class="ui-grid-col-8"><p-calendar [(ngModel)]="retailSelected.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label for="end">End</label></div>
                                        <div class="ui-grid-col-8"><p-calendar [(ngModel)]="retailSelected.end" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label>Retail</label></div>
                                        <div class="ui-grid-col-8"><input [(ngModel)]="retailSelected.retail" disabled></div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4"><label>Multi</label></div>
                                        <div class="ui-grid-col-8"><input [(ngModel)]="retailSelected.multi" disabled></div>
                                    </div>
                                </div>
                                <p-footer>
                                    <div style="text-align: center">
                                        <button type="button" pButton icon="fa-close" (click)="closeRetail()" label="Close"></button>
                                    </div>
                                </p-footer>
                            </p-dialog>
                            <input type="text" 
                                    [ngStyle]="{'background-color': regularColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled> Regular
                            <input type="text" 
                                    [ngStyle]="{'background-color': promoColor,'width': '10px', 'height': '10px', 'margin': '2px', 'border-width': '1px'}" disabled>Promotion
                            <i class="pull-right" *ngIf="itemRetailInfos.retails">{{itemRetailInfos.retails.length}} active/future retails</i>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>

    <!-- Substituion/Replacement items -->
<div class="form-group">
    &nbsp;
</div>

<div class="primary card-inverse" style="width: 100%">
    <div class="card-header py-0 px-2">
        <p-panel [toggleable]="true">
            <p-header>
                <b>Substitution/Replacement</b>
            </p-header>

                <p-table #result [value]="itemSubstitutionInfos.details" sortMode="multiple" 
                [rows]="5"  [rowsPerPageOptions]="[5,10,50,100]"
                [paginator]="true" [pageLinks]="3" 
                [columns]="columnsSubstitution"
                selectionMode="single" 
                [resizableColumns]="true" columnResizeMode="expand"
                [responsive]="true" [totalRecords]="itemSubstitutionInfos.details.length"
                [reorderableColumns]="true" scrollHeight="400px"
                [autoLayout]="true"tableStyleClass="table-layout: auto;">
                <!-- [globalFilter]="gb"  -->
            
            <!-- HEADER -->
                <ng-template pTemplate="header">            
                    <tr>
                        <th *ngFor="let col of columnsSubstitution" pSortableColumn="col.field" pReorderableColumn pResizableColumn>
                            {{col.header}}
                            <p-sortIcon field="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
            <!-- BODY -->
                <ng-template pTemplate="body" let-rowData let-columns="columnsSubstitution">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columnsSubstitution" class="ui-resizable-column">
                                {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <i class="pull-right" style="font-size:smaller;" >{{itemSubstitutionInfos.details.length}} Substitions</i>
        </p-panel>
    </div>
</div>

    <!-- Inventory cross all locations in CEMTRAL and STOCK, on-going operations -->
<br>
    <div style="width: 100%">
            <div class="primary card-inverse">
                <div class="card-header py-0 px-2">
                <p-panel [toggleable]="true">
                    <p-header>
                        <b>Inventory</b>
                    </p-header>
                    <p-table #result [value]="itemInventoryInfos.details" sortMode="multiple" 
                    [rows]="5"  [rowsPerPageOptions]="[5,10,50,100]"
                    [paginator]="true" [pageLinks]="3" 
                    [columns]="columnsInventory"
                    selectionMode="single" 
                    [resizableColumns]="true" columnResizeMode="expand"
                    [responsive]="true" [totalRecords]="itemInventoryInfos.details.length"
                    [reorderableColumns]="true" scrollHeight="400px"
                    [autoLayout]="true"tableStyleClass="table-layout: auto;">
                    <!-- [globalFilter]="gb"  -->
                    
                    <!-- HEADER -->
                        <ng-template pTemplate="header">            
                            <tr>
                                <th *ngFor="let col of columnsInventory" pSortableColumn="col.field" pReorderableColumn pResizableColumn>
                                    {{col.header}}
                                    <p-sortIcon field="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                    <!-- BODY -->
                        <ng-template pTemplate="body" let-rowData let-columns="columnsInventory">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columnsInventory" class="ui-resizable-column">
                                        {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <i class="pull-right" style="font-size:smaller;" >{{itemInventoryInfos.details.length}} Inventory lines</i>
                </p-panel>
            </div>
        </div>
    </div>
</div>