
<app-page-header [heading]="'Item Category change'" [icon]="'fa-thumb-tack'"></app-page-header>
<h2 class="text-muted">Dashboard <small>Item Category change</small></h2>

<div class="content-section implementation">
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
</div>
<div class="form-group">
    &nbsp;
</div>

<p-filereader name="fileUploaded" url="http://localhost:8090/api/upload" (onUpload)="onUpload($event)" 
        multiple="multiple" maxFileSize="10000000" [ngStyle]="{ 'width' : '100%'}">
    <ng-template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>        
</p-filereader>


<div class="form-group">
    &nbsp;
</div>
 
 <div class="form-group">
    &nbsp;
</div>