<app-page-header [heading]="'Job execution'" [icon]="'fa-tools'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>


<p-tabView>
    <!-- SEARCH-->
    <p-tabPanel header="Search" leftIcon="pi pi-calendar" tooltip="Search">
    <!-- Search Panel -->
    <div class="bbs_search_panel"  >
            <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Job Id : </span>
            <span style="overflow: hidden; padding-left: 1em; width: 90%; line-height: 25px">
            <input type="text"  [(ngModel)]="searchJobCode" placeholder="  Enter a code or a description" 
                    style="width: 50%;margin-left: 10px;"/>     
            </span>

            <span class="pull-right" style="padding-right: 20px">
                    <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                            [disabled]="searchJobCode === '' && executedOn === ''" 
                            style="margin-right: 15px">
                    </button>
                    <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
            </span>
    </div>
    <div class="bbs_search_sub_panel"  >
        <span style="margin-right:1.3em; padding-left: 15px; font-weight: bolder">Executed on : </span>
        <p-calendar [(ngModel)]="executedOn"  
                    [readonlyInput]="true"
                    dateFormat="mm/dd/yy"
                    name="executedOn" [showIcon]="true" 
                    [showOnFocus]="true" [showOtherMonths]="true"></p-calendar>
    </div>


    <p></p>

    <p-dialog header="Update completed" [(visible)]="displayUpdateCompleted" modal="modal" width="500" responsive="true" [maximizable]="false">
        <span>{{msgDisplayed}}</span>
            <p-footer>
                <button style="float: right; margin-bottom:0.5em" 
                        type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                        label="Ok">
                </button>
            </p-footer>
    </p-dialog>

    <!-- Panel resul -->
    <!-- Result panel of the resarch --> 
    <!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
    <div  item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">

            <p-table #result [value]="searchResult" sortMode="multiple" 
            [rows]="50"  [rowsPerPageOptions]="[50,100,200]"
            [paginator]="true" [pageLinks]="3" 
            [columns]="columnsResult"
            selectionMode="single" [(selection)]="selectedElement" 
            [resizableColumns]="true" columnResizeMode="expand"
            [responsive]="true" [totalRecords]="searchResult.length"
            [reorderableColumns]="true" scrollHeight="400px"
            (onRowSelect)="onRowSelect($event)"
            [globalFilter]="gb" [autoLayout]="true" tableStyleClass="table-layout: auto;">
            
            <!-- FILTER -->
            <ng-template pTemplate="caption">
                    <div class="pull-right">
                            <input  type="text" #gb placeholder="Type text to filter..." 
                                (input)="result.filterGlobal($any($event.target).value, 'contains')">
                            </div>
                            <div class="ui-helper-clearfix" >
                            <button type="button" pButton icon="fas fa-file" iconPos="left" 
                                class="CSV_Button"
                                label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                            <button type="button" pButton icon="fas fa-plus-circle" iconPos="left" 
                                class="TABLE_TOP_Button"
                                label="ADD ALL" style="float:left"
                                [disabled]="addAllButtonStatus === 'DISABLED'"
                                (click)="addAlltoBatchList()">
                            </button>
                            </div>
            </ng-template>
            <!-- HEADER -->
                <ng-template pTemplate="header" >            
                    <tr>
                        <th *ngFor="let col of columnsResult" [pSortableColumn]="col.field" 
                                    [ngStyle]="{'width': col.width}"
                                    pReorderableColumn pResizableColumn>
                                {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th style="text-align: center;">My List</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
            <!-- BODY -->
                <ng-template pTemplate="body" 
                    let-rowData let-columns="columnsResult"  let-index="rowIndex" > 
                    <tr [pSelectableRow]="rowData" *ngIf="searchResult.length > 0">
                        <td *ngFor="let col of columnsResult" class="ui-resizable-column">
                                {{rowData[col.field]}}
                        </td>
                        <td style="justify-content: center; color: darkgoldenrod; display: flex;"> 
                            <span *ngIf="rowData['MYLIST']">
                                <i class="fas fa-star"></i>
                            </span>
                            <button *ngIf="!rowData['MYLIST']"
                                type="button" pButton class="TABLE_TOP_Button"
                                label="ADD" (click)="addBatchList(index)" style="float:left"></button>
                        </td>
                        <td>
                            <button *ngIf="rowData['STATUS'] === 'COMPLETED'" type="submit" 
                                    class="ui-button-success"
                                    pButton (click)="executeJob(index, rowData['BATCHID'], rowData['PARAMETER'])" 
                                    icon="fas fa-wrench" label="COMPLETED" 
                                    #buttonCOMPLETED_{{index}}
                                    style="margin-right: 15px">
                            </button>
                            <button *ngIf="rowData['STATUS'] === 'INPROGRESS'" type="submit" 
                                    class="ui-button-warning"
                                    pButton (click)="executeJob(index, rowData['BATCHID'], rowData['PARAMETER'])" 
                                    icon="fas fa-wrench" label="RUNNING" 
                                    #buttonINPRIGRESS_{{index}}
                                    style="margin-right: 15px">
                            </button>
                            <button *ngIf="rowData['STATUS'] === 'EXECUTED'" type="submit" 
                                    #buttonEXECUTED_{{index}}
                                    pButton (click)="executeJob(index, rowData['BATCHID'], rowData['PARAMETER'])" 
                                    icon="fas fa-wrench" label="RE-RUN" 
                                    style="margin-right: 15px">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <i class="pull-right" style="font-size:smaller;" >{{searchResult.length}} references</i>
    </div>    

    </p-tabPanel>
</p-tabView>