<!-- My Batch List-->
<div class="bbs_search_panel"  >
    <span class="pull-right" style="padding-right: 20px; ">
        <button type="submit" pButton (click)="save()" icon="fas fa-save" label="Save changes" 
                style="margin-right: 15px">
        </button>
    </span>
</div>
<br>

<!-- Job to be added List-->
<div class="bbs-3d" style="width: 100%;">
    <p-card header="Job list to be added" id="batchToBeAdded">
        <div class="scrollable">
            <p-treeTable [value]="batchToBeAdded">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of columnsBatchToBeAdded"  
                            [ngStyle]="{'width': col.width, 
                                        'border-width': '1px 0px 0px 0px', 
                                        'font-size' :  'smaller',
                                        'text-align' : 'left',
                                        'border-color' : 'darkgrey'}">
                                {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-index="rowNodeIndex"  let-rowData="rowData">
                    <tr [ttRow]="rowNode" pDraggable  draggableNodes="true" 
                        (onDragStart)="onDragStart($event, rowNode)">
                        <td  style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span style="width: 100%;">{{rowData.BATCHID}}</span></td>
                        <td style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                            <span style="width: 100%;">{{rowData.BATCHDESC}}</span></td>
                        <td style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                            <span style="width: 100%;">{{rowData.PARAMETER}}</span></td>
                        <td style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                            <span style="width: 100%;">{{rowData.BATCHENV}}</span></td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
        <p-footer>
            <span class="pull-right" style="padding-top:2em">
                <button pDroppable type="submit" pButton  icon="fas fa-trash" 
                        (onDrop)="deleteNode(batchToBeAdded[0], selectedNode)">
                </button>
            </span>
        </p-footer>
    </p-card>
</div>
<br>
<br>
<br>

<!-- my Job  List-->
<div class="bbs-3d" style="width: 100%;">
     <p-card header="My Job list repository" >
        <p-treeTable [value]="myRepository" selectionMode="single" [(selection)]="selectedNode" 
                    (onNodeSelect)="onNodeSelect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of columnsMyRepository"  
                        [ngStyle]="{'width': col.width, 
                                    'border-width': '1px 0px 0px 0px', 
                                    'font-size' :  'smaller',
                                    'text-align' : 'left',
                                    'border-color' : 'darkgrey'}">
                            {{col.header}}
                    </th>
                    <th style="width: 10%; border-width:  1px 0px 0px 0px; font-size: smaller; text-align: center; border-color: darkgrey;">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowNodeIndex="rowNodeIndex"  let-rowData="rowData">
                <tr [ttRow]="rowNode" pDraggable pDroppable 
                    [ttSelectableRow]="rowNode"
                    draggableNodes="true" droppableNodes="true"
                    (onDragStart)="onDragStart($event, rowNode)"
                    (onDrop)="onDrop($event, rowNode)">
                    <td  style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        <input type="text" [(ngModel)]="rowData.BATCHID" style="width: 90%;"></td>
                    <td style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                        <span>{{rowData.BATCHDESC}}</span></td>
                    <td style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                        <input type="text" [(ngModel)]="rowData.PARAMETER" style="width: 100%;"></td>
                    <td style="border-width: 1px 0px 0px 0px;font-size: smaller;">
                        <input type="text" [(ngModel)]="rowData.BATCHENV" style="width: 100%;"></td>
                    <td style="border-width: 1px 0px 0px 0px;font-size: smaller; text-align: center;">
                        <button *ngIf="rowData['STATUS'] === 'COMPLETED'" type="submit" 
                            class="ui-button-success"
                            pButton (click)="executeJob(rowNode.node)" 
                            icon="fas fa-wrench" label="COMPLETED" 
                            #buttonCOMPLETED_{{index}}
                            style="margin-right: 15px">
                        </button>
                        <button *ngIf="rowData['STATUS'] === 'ORDERED'" type="submit" 
                                class="ui-button-secondary"
                                pButton (click)="executeJob(rowNode.node)" 
                                icon="fas fa-wrench" label="ORDERED" 
                                #buttonINPROGRESS_{{index}}
                                [disabled]="true"
                                style="margin-right: 15px; background-color: darkgray">
                        </button>
                        <button *ngIf="rowData['STATUS'] === 'INPROGRESS'" type="submit" 
                                class="ui-button-warning"
                                pButton (click)="executeJob(rowNode.node)" 
                                [disabled]="true"
                                icon="fas fa-wrench" label="RUNNING" 
                                #buttonINPRIGRESS_{{index}}
                                style="margin-right: 15px">
                        </button>
                        <button *ngIf="rowData['STATUS'] === 'EXECUTED'" type="submit" 
                                #buttonEXECUTED_{{index}}
                                pButton (click)="executeJob(rowNode.node)" 
                                icon="fas fa-wrench" label="RUN" 
                                style="margin-right: 15px">
                        </button>
                        <button *ngIf="rowData['STATUS'] === ''" type="submit" 
                                #buttonEXECUTED_{{index}}
                                pButton (click)="executeJob(rowNode.node)" 
                                icon="fas fa-wrench" label="RUN" 
                                [disabled]= "!rowData['BATCHID'] && !rowData['PARAMETER']"
                                style="margin-right: 15px">
                        </button>
                </tr>
            </ng-template>
        </p-treeTable>
        <p-footer>
            <span class="pull-right" style="padding-top:2em">
                <button type="submit" pButton (click)="undo()" icon="fas fa-undo"
                        [disabled]=" 1 >= myRepositoryHistory.length || 0 >= myRepositoryHistoryIndicator">
                </button>
                <button type="submit" pButton (click)="redo()" icon="fas fa-redo"
                        [disabled]="myRepositoryHistoryIndicator >= myRepositoryHistory.length-1">
                </button>
                <button type="submit" pButton (click)="addFolder()" icon="fas fa-folder-plus">
                </button>
                <button type="submit" pButton (click)="addJob()" icon="fas fa-plus-square">
                </button>
            </span>
        </p-footer>
    </p-card>
</div>
<!--div class="ui-g-12 ui-md-1" style="text-align:center">
    <i class="fas fa-chevron-circle-left" style="font-size:36px;margin-top: 28px;"></i>
</!--div-->
