<app-page-header [heading]="'Automatic Order Scorecard'" [icon]="'fa-calendar'"
                 [(screenID)]="screenID"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<div class="bbs_search_panel"  >
    <span style="margin-right:20px; padding-left: 15px; font-weight: bolder">Location : </span>
    <span style="margin-right:50px; line-height: 25px; padding-left: 1.1em" >
        <input name="location" type="number" [(ngModel)]="searchSiteCode" placeholder="" maxlength="5"
               style="width: 5%;margin-left: 10px; text-align: center"/>
    </span>
    <span style="margin-right:20px; padding-left: 5em; font-weight: bolder">Score card date : </span>
    <span style="overflow: hidden; padding-right: .5em; width: 90%; line-height: 25px" >
        <p-calendar [(ngModel)]="scorecardDate"  name="scorecardDate" 
                    dateFormat="mm/dd/yy" [showIcon]="true" 
                    [showOnFocus]="true" [showOtherMonths]="true">
        </p-calendar>
    </span>


    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="openScorecard()" icon="fas fa-search" label="OPEN" 
                [disabled]="!scorecardDate || ! searchSiteCode " style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
    </span>
</div>
<div class="bbs_search_sub_panel" *ngIf="searchLaunched && reportCycleCountActivity && reportCycleCountDetail && reportCaoActivity && dataAvailable">
    <div>
      <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
        <label class=" btn btn-sm btn-danger btn-simple" (click)="clickedDairy=true;clickedGrocery=false;selectedDeptLabel=departmentLabel[0];updateDepartment(departmentCode[0]);" [ngClass]="{'active':clickedDairy===true}">
          <input checked="checked" name="options" type="radio" />

          <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">Dairy</span>
          <span class=" d-block d-sm-none">
            <i class=" tim-icons icon-single-02"> </i>
          </span>
        </label>
        <label class=" btn btn-sm btn-danger btn-simple" (click)="clickedDairy=false;clickedGrocery=true;selectedDeptLabel=departmentLabel[1];updateDepartment(departmentCode[1])" [ngClass]="{'active':clickedGrocery===true}">
          <input  class=" d-none d-sm-none" name="options" type="radio" />
          <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" > Grocery </span>
          <span class=" d-block d-sm-none"> <i class=" tim-icons icon-gift-2"> </i> </span>
        </label>
      </div>
    </div>
</div>
<p></p>


<!-- Search Launched - Gathering data " -->
<div *ngIf=" searchLaunched && (!reportCycleCountActivity || !reportCycleCountDetail)">
  <svg class="loading_spinner" viewBox="0 0 50 50" style="position: fixed; margin-top: 2em; margin-left: 2em; ">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
  </svg>
</div>
<!-- Panel result style="width: 50%;" -->
<div class=" content"  *ngIf="reportCycleCountActivity && reportCycleCountDetail && reportCaoActivity && (searchResultCycleCount.length === 0)" >
  <h6 style="text-align: center;margin-top: 5em;font-weight: bolder;border-bottom: 0.1em black dotted;color: black;border-top: 0.1em black dotted;">
    No data available - Review the search criteria.
  </h6>
</div>
<div class=" content"  [ngStyle]="{'visibility': searchLaunched && reportCycleCountActivity && reportCycleCountDetail && dataAvailable ? 'visible':'hidden'}" >
    <div class=" row">
    <div class=" col-sm-12 text-left">
        <h2 class=" card-title" style="display: inline;">Summary</h2>
        <h6 class=" card-title; pull-right" style="color: lightslategray" >Store # {{searchSiteCode}}    |   {{selectedDeptLabel}} | {{dateNow | date:'medium'}}</h6>
      </div>
    </div>
    <div class=" row">
        <div class=" col-lg-4">
          <div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category">Completed Cycle Count</h5>
              <h3 class=" card-title">
                <!--i class=" tim-icons icon-delivery-fast text-info">3,500€ </i--> 
                <!--i class=" tim-icons icon-send text-success"> 12,100K</i--> 
                <!--i class=" tim-icons icon-bell-55 text-danger-states">763,215 </i--> 
              </h3>
            </div>
            <div class=" card-body">
              <!--div class=" chart-area"><canvas id="chartLineRed"> </canvas></div-->
              <h2 class="text-info" *ngIf="percentageCycleCount >= 0.1">{{percentageCycleCount | percent:'2.0' }}</h2>
              <h2 class="text-info" *ngIf="percentageCycleCount < 0.1">{{percentageCycleCount | percent:'1.0' }}</h2>
              <h6 class="card-category">OF NEGATIVE INVENTORY COVERED</h6>
              <h6 class="card-category" style="font-weight: bolder;">{{additionalCycleCountItem}} additional items were reviewed.</h6>
            </div>
          </div>
        </div>
        <div class=" col-lg-4">
          <div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category">Override Metrics </h5>
            </div>
            <div class=" card-body">
              <h2 class="text-info" *ngIf="percentageOverride >= 0.1">{{percentageOverride | percent:'2.0' }}</h2>
              <h2 class="text-info" *ngIf="percentageOverride < 0.1">{{percentageOverride | percent:'1.0' }}</h2>
                <h6 class="card-category">OVERRIDE HAS BEEN PERFORMED</h6>
                <h6 class="card-category" style="font-weight: bolder;">{{additionalCaseOverride}} cases added & {{removedCaseOverride}} cases dropped</h6>
            </div>
          </div>
        </div>
        <div class=" col-lg-4">
          <!-- Additional card -->
          <!--div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category">Inventory Accuracy</h5>
            </div>
            <div class=" card-body">
                <h2 class="text-success">XX%</h2>
                <h6 class="card-category">INVENTORY GRADE</h6>
                <h6 class="card-category" style="font-weight: bolder;">2% of items have suspicious inventory.</h6>
            </div>
          </div-->
        </div>
    </div>

<!-- Graph Cycle count -->
    <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-6 text-left">
                <h6 class=" card-category">Inventory Adjustments</h6>
                <h4 class=" card-title">Volume Neg./zero</h4>
              </div>
              <div class=" col-sm-6">
                <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];label='Zero inventory';updateOptions();clickedNegZero=true;clickedOthers=false;" [ngClass]="{'active':clickedNegZero===true}">
                    <input checked="checked" name="options" type="radio" />
  
                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">Negative & Zero</span>
                    <span class=" d-block d-sm-none">
                      <i class=" tim-icons icon-single-02"> </i>
                    </span>
                  </label>
                  <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];label='Other reviewed';updateOptions();clickedNegZero=false;clickedOthers=true;" [ngClass]="{'active':clickedOthers===true}">
                    <input  class=" d-none d-sm-none" name="options" type="radio" />
                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" > Others </span>
                    <span class=" d-block d-sm-none"> <i class=" tim-icons icon-gift-2"> </i> </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="volumeChart"> </canvas></div>
          </div>
        </div>
      </div>
    </div>
    <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-6 text-left">
                <h6 class=" card-category">Inventory Adjustments</h6>
                <h4 class=" card-title">Performance</h4>
              </div>
              <div class=" col-sm-6">
                <div  class=" btn-group btn-group-toggle float-right"  data-toggle="buttons" >
                  <label class=" btn btn-sm btn-danger btn-simple" (click)="clicked2=true" [ngClass]="{'active':clicked2===true}">
                    <input class=" d-none" name="options" type="radio" />
                       <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" > Activity </span>
                       <span class=" d-block d-sm-none"> <i class=" tim-icons icon-tap-02"> </i> </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="performanceChart"> </canvas></div>
          </div>
        </div>
      </div>
    </div>
   
    <!-- Product with needed attention -->
    <div class=" row">
      <div class=" col-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Product with needed attention </h4>
            <h6 class=" card-category">Top 5 items with highest inventory discrepancy</h6>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Item #</th>
                    <th>UPC</th>
                    <th>Description</th>
                    <th class=" text-center">Inventory</th>
                    <th class="">Comment</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemAttentionNeeded">
                        <td>{{item.ITEM_CODE}}</td>
                        <td>{{item.UPC}}</td>
                        <td>{{item.SV_DESC}}</td>
                        <td class=" text-center">{{item.NEG_REPORT_QTY}}</td>
                        <td>Item needs a cycle count</td>
                  </tr>
                  <tr *ngFor="let item of itemHighVariance">
                      <td>{{item.ITEM_CODE}}</td>
                      <td>{{item.UPC}}</td>
                      <td>{{item.SV_DESC}}</td>
                      <td class=" text-center">{{item.QTY}}</td>
                      <td>{{item.VARIANCE}} SKU variance seems high, re-checked the cycle count </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Graph CAO -->
<div class=" row" 
[ngStyle]="{'visibility': searchLaunched && reportCycleCountActivity && 
                          reportCycleCountDetail && reportCaoActivity && dataAvailable ? 
                          'visible':'hidden'}" >
  <div class=" col-12">
    <div class=" card card-chart">
      <div class=" card-header">
        <div class=" row">
          <div class=" col-sm-6 text-left">
            <h6 class=" card-category">Automatic Ordering</h6>
            <h4 class=" card-title">Volume override</h4>
          </div>
          <div class=" col-sm-6">
            <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
              <label class=" btn btn-sm btn-danger btn-simple" (click)="cao_data_graph1=cao_datasets[0];cao_data_graph2=cao_datasets[1];cao_label_graph1='Nb. total line';cao_label_graph2='Nb. line changed';updateCaoOptions();clickedCaoLine=true;clickedCaoVolume=false;" [ngClass]="{'active':clickedCaoLine===true}">
                <input checked="checked" name="options" type="radio" />

                <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">Nb. Line</span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-single-02"> </i>
                </span>
              </label>
              <label class=" btn btn-sm btn-danger btn-simple" (click)="cao_data_graph1=cao_datasets[2];cao_data_graph2=cao_datasets[3];cao_label_graph1='Total # Cases';cao_label_graph2='Cases adjusted';updateCaoOptions();clickedCaoLine=false;clickedCaoVolume=true;" [ngClass]="{'active':clickedCaoVolume===true}">
                <input  class=" d-none d-sm-none" name="options" type="radio" />
                <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" > Volume </span>
                <span class=" d-block d-sm-none"> <i class=" tim-icons icon-gift-2"> </i> </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class=" chart-area"><canvas id="volumeCaoChart"> </canvas></div>
      </div>
    </div>
  </div>
</div>
<div class=" row" 
     [ngStyle]="{'visibility': searchLaunched && reportCycleCountActivity && 
                               reportCycleCountDetail && reportCaoActivity && dataAvailable ? 
                               'visible':'hidden'}" >
  <div class=" col-12">
    <div class=" card card-chart">
      <div class=" card-header">
        <div class=" row">
          <div class=" col-sm-6 text-left">
            <h6 class=" card-category">Automatic Ordering</h6>
            <h4 class=" card-title">Performance</h4>
          </div>
          <div class=" col-sm-6">
            <div  class=" btn-group btn-group-toggle float-right"  data-toggle="buttons" >
              <label class=" btn btn-sm btn-danger btn-simple" (click)="clickedCaoPerformance=true" [ngClass]="{'active':clickedCaoPerformance===true}">
                <input class=" d-none" name="options" type="radio" />
                   <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block" > Activity </span>
                   <span class=" d-block d-sm-none"> <i class=" tim-icons icon-tap-02"> </i> </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class=" chart-area">
          <canvas id="performanceCaoChart"> </canvas></div>
      </div>
    </div>
  </div>
</div>

<br>
