<div class="login-page" [@routerTransition] >
	<div  class="pull-right" font-size="small" ><span #versionDiv style="visibility: hidden;font-size: small">vers. 6.0.1b0.10</span></div>
    <div class="row justify-content-md-center" >
		<!-- Snow effect -->
		<div *ngFor="let dummy of ' '.repeat(100).split('')" class="snowflake">*</div>

        <div class="col-md-4" style="z-index: 99999">
            <img src="./assets/images/logo.png" width="150px" class="user-avatar" (click)="showHideVersion()" />
			<h1>Inventory Control Room</h1>  
			<p-toast></p-toast>

            <form role="form" (ngSubmit)="onLoggedin()" style="padding-top: 20%">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="username" [(ngModel)]="authentification.username"  
							   class="form-control input-underline input-lg" id="" placeholder="Username"
							   style="border-radius: 10px">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="authentification.password"  name="password"
                               class="form-control input-underline input-lg" id="" placeholder="Password"
							   style="border-radius: 10px">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="authentification.username.length === 0 " > Log in </button>
            </form>

&nbsp;
<br>
<br>
<br>
		<div *ngIf="canConnect" style="text-align: left; width: 500px; font-size: smaller; line-height: 1;">
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >User authentification validation</div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="userInfoGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!userInfoGathered"></i>
				</div>
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >Gathering user information and authorization profiles</div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="userInfoGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!userInfoGathered"></i>
				</div>
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >Gathering user Menu access </div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="userInfoGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!userInfoGathered"></i>
				</div>
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >Gathering user Environment access </div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="environmentGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!environmentGathered"></i>
				</div>
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >Gathering parameter list  </div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="parameterGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!parameterGathered"></i>
				</div>
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >Gathering labels in your language </div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="labelsGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!labelsGathered"></i>
				</div>
				<div class="ui-grid-row">
					<div class="col-md-12" style="font-weight: bolder" >Refreshing your workspace with your preference </div>
					<i class="fa fa-check pull-right" style="color: green" aria-hidden="true" *ngIf="labelsGathered"></i>
					<i class="fa fa-spinner pull-right" style="color: gray" aria-hidden="true" *ngIf="!labelsGathered"></i>
				</div>
			</div>
        </div>
	</div>
</div>

<!-- Chrismas TREE BEGIN -->
<!--div style="padding-top: 10%;">
	<div class="container_christmas" style="z-index: 99999"> 
			<div class="star"></div>
			<div class="pressie">
				<div class="cover"></div>
				<div class="wrap"> </div>
				<div class="ribbon"></div>
			</div>
			<div class="tree">
				<div class="base"> </div>
				<div class="layer">
				<div class="line"> </div>
				<div class="bauble one"></div></div>
				
				<div class="layer two">
				<div class="line two"> </div>
				<div class="bauble two"></div>
				<div class="socks"> 
					<div class="top"> </div>
					<div class="foot"></div></div>
				</div>
				
				<div class="layer three">
				<div class="line three"> </div>
				<div class="bauble three"></div>
				<div class="socks two"> 
					<div class="top"> </div>
					<div class="foot two"></div></div>
				</div>
					</div>
				
				<div class="layer four">
				<div class="bauble four"></div>
				<div class="star two"></div>
				<div class="line four"> </div> 
			</div>
	</div>
</div-->
<!-- Chrismas TREE END -->

<!-- Christmas banner-->
<!--div class="bg fixed-bottom header">
	<div class="mountain">
	  <div class="mountain-top">
		<div class="mountain-cap-1"></div>
		<div class="mountain-cap-2"></div>
		<div class="mountain-cap-3"></div>
	  </div>
	</div>
	<div class="mountain-two">
	  <div class="mountain-top">
		<div class="mountain-cap-1"></div>
		<div class="mountain-cap-2"></div>
		<div class="mountain-cap-3"></div>
	  </div>
	</div>
	 <div class="mountain-three">
	  <div class="mountain-top">
		<div class="mountain-cap-1"></div>
		<div class="mountain-cap-2"></div>
		<div class="mountain-cap-3"></div>
	  </div>
	</div>
	<div class="cloud"></div>
</div-->
