
/*******************************************/
/* Override Prime-ng DATATABLE CSS         */
/*******************************************/

:host ::ng-deep .CSV_Button {
    color: white; 
    background: #255; 
    border-radius:20px;
    border:0; 
    font-size:xx-small;
}

:host ::ng-deep .CSV_Button:hover {
    background: #2399e5; 
}

:host ::ng-deep .TABLE_TOP_Button {
    color: white; 
    background: #255; 
    border-radius:20px;
    border:0; 
    font-size:xx-small;
}

:host ::ng-deep .TABLE_TOP_Button:hover {
    background: #2399e5; 
}


:host ::ng-deep .COMPLETED_Button {
    color: darkslategrey; 
    background: greenyellow; 
    border-radius:20px;
    border:0; 
    font-size:xx-small;
}

:host ::ng-deep .COMPLETED_Button:hover {
    background: rgb(79, 129, 4); 
}


:host ::ng-deep .INPROGRESS_Button {
    color: darkslategrey; 
    background: orange; 
    border-radius:20px;
    border:0; 
    font-size:xx-small;
}

:host ::ng-deep .INPROGRESS_Button:hover {
    background: orange; 
}

//:host ::ng-deep .ui-datatable-resizable {
    //height: -webkit-fill-available;
//}

:host ::ng-deep .ui-lightbox-content.ui-lightbox-loading + a { display:none; } 

// Notification - Dialog
:host ::ng-deep .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 0.2em 1.5em;
}
:host ::ng-deep .ui-dialog.ui-widget .ui-dialog-content {
    padding: 1em 0.5em 1em 2em;
    font-size: larger;
}

:host ::ng-deep .ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1em;
}

:host ::ng-deep .ui-widget-content {
    border: none;
    border-top: 1px solid #D5D5D5;
}

// Input no outline
:host ::ng-deep input, input:valid {
    outline: none;
    border-radius: 10px;
}

// New TABLE PRIME NG 05/2019

:host ::ng-deep  p-table > .ui-table table {
    font-weight: 100;
    font-size: x-small;
}

:host ::ng-deep  p-table > div > .ui-widget-header {
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}


:host ::ng-deep th.ui-state-highlight {
    color: red;
    background: white;
    border:0.5em solid; 
    //outline-color: white;
}

:host ::ng-deep  p-table > .ui-table tbody > tr.ui-state-highlight {
    color: red !important;
    background: yellow !important;
    border:0.5em solid; 
    //utline-color: white;
}


:host ::ng-deep  p-table > .ui-table tbody > tr {
    border: 1px solid lightgray;
    border-right-color: white;
    border-left-color: white;
   // outline-color: white;
}

:host ::ng-deep p-table > .ui-table .ui-paginator-bottom {
    background: white;
    border: none;
}

:host ::ng-deep .ui-dropdown .ui-dropdown-trigger .fa {
    margin-top:-0.4em;
    margin-left: -0.25em;
}

:host ::ng-deep .ui-button {
    background: white;
    color: #2399e5;
    border: 1px solid #2399e5;
}

:host ::ng-deep .ui-toast {
    width: 40em;
}

/* BB SYMPHONY CLASS */
.bbs_search_panel {
    background: #F5F5F5;
    width: 100%;
    height: 65px;
    line-height: 60px;
}
.bbs_search_sub_panel {
    background: #F5F5F5;
    width: 100%;
    height: 45px;
    line-height: 10px;
}

.bbs_link_menu {
    border-radius: 1.1em 0 0 1.1em !important
}

.bbs-3d {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}


.bbs-keywords {
    font-weight: bold;
    color: cadetblue;
}

.bbs-keywords-scenario {
    font-weight: bold;
    color: orangered;
}