<app-page-header [heading]="'Warehouse Replenishment dashboard'" [icon]="'fa-industry'"
                 [(screenID)]="screenID"></app-page-header>
                 
<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>


<!-- Search Panel -->
<div class="bbs_search_panel"  >
    <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Warehouse : </span>
    <bbs-multiselect [options]="warehouses" 
                    (shareCheckedList)="shareCheckedList($event)" 
                    (shareCheckedCodeList)="shareCheckedCodeList($event)" 
                    (shareIndividualCheckedList)="shareIndividualCheckedList($event)">
    </bbs-multiselect>
    <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Supplier : </span>
    <span style="overflow: hidden; padding-right: .5em; width: 20%; line-height: 25px">
        <input type="text"  [(ngModel)]="searchVendorCode" placeholder="  Enter a code or a description" 
               style="width: 30%;margin-left: 10px;"/>     
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                [disabled]="periodStart == '' || periodEnd === '' " 
                style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
    </span>
</div>
<div class="bbs_search_sub_panel"  >
    <span style="margin-right:1.3em; padding-left: 15px; font-weight: bolder">Period start : </span>
    <p-calendar [(ngModel)]="periodStart"  
                [minDate]="dateTomorrow"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                name="scheduleStart" [showIcon]="true" 
                [showOnFocus]="true" [showOtherMonths]="true"></p-calendar>

    <span style="margin-left:11em; padding-left: 15px; font-weight: bolder">Period end : </span>
    <p-calendar [(ngModel)]="periodEnd"  
                [minDate]="dateTomorrow"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                name="scheduleEnd" [showIcon]="true" 
                [showOnFocus]="true" [showOtherMonths]="true" ></p-calendar>
</div>
<p></p>

<p-dialog header="Update completed" [(visible)]="displayUpdateCompleted" modal="modal" width="500" responsive="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
</p-dialog>

<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->

<div class="pull-right">
    <div  style="width: 100%">
        <span>Inventory coverage {{inventoryCoverage}}% </span>
    </div> 
    <input type="range" min="0" max="200" [(ngModel)]="inventoryCoverage" 
           style="position: relative;left: 10%;">
</div>
<div  item-width="400px" table-layout="fixed" *ngIf="searchResult !== null" style="margin-top:4em">

    <p-table #result [value]="searchResult" sortMode="multiple" 
    [rows]="20"  [rowsPerPageOptions]="[20,40,60]"
    [paginator]="true" [pageLinks]="3" 
    [columns]="columnsResult"
    selectionMode="single" [(selection)]="selectedElement" 
    [resizableColumns]="true" columnResizeMode="expand"
    [responsive]="true" [totalRecords]="searchResult.length"
    [reorderableColumns]="true" scrollHeight="400px"
    (onRowSelect)="onRowSelect($event)"
    [globalFilter]="gb" [autoLayout]="true" tableStyleClass="table-layout: auto;">
    
    <!-- FILTER -->
    <ng-template pTemplate="caption">
            <div class="pull-right">
                    <input  type="text" #gb placeholder="Type text to filter..." 
                        (input)="result.filterGlobal($any($event.target).value, 'contains')">
                    </div>
                    <div class="ui-helper-clearfix" >
                    <button type="button" pButton icon="fas fa-file" iconPos="left" 
                        class="CSV_Button"
                        label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                    </div>
    </ng-template>
    <!-- HEADER -->
        <ng-template pTemplate="header">            
            <tr>
            <th *ngFor="let col of columnsResult" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn [style.text-align]="col.align">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>       
            <tr style="background-color: gray;">
                <th *ngFor="let col of columnsResult">
                    <!-- Input filter-->
                    <input *ngIf="col.type === 'input'"
                            pInputText type="text" (input)="result.filter($any($event.target).value, col.field, 'contains')" 
                            [placeholder]=col.placeholder class="p-column-filter" 
                            [style.text-align]="col.align"
                            style="border-radius:0px !important; border-width: 1px;">
                </th>
            </tr>
        </ng-template>
    <!-- BODY -->
        <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
            <tr [pSelectableRow]="rowData"
                [ngStyle]="{'background-color' :  rowData['COVERAGE'] >= (inventoryCoverage /100)? 'unset': 'darkorange',
                            'color' : rowData['COVERAGE'] >= (inventoryCoverage /100) ? 'black': 'white',
                            'font-weight' : rowData['COVERAGE'] >= (inventoryCoverage /100) ?'normal': 'bold'}">
                
                <td *ngFor="let col of columnsResult" class="ui-resizable-column" [style.text-align]="col.align">
                    <span *ngIf="col.field==='STORE_ORDERABLE' && rowData[col.field]==='Orderable'" 
                          class="badge badge-success">
                        {{rowData[col.field]}}
                    </span>                    
                    <span *ngIf="col.field==='STORE_ORDERABLE' && rowData[col.field]==='Receivable'" 
                            class="badge badge-warning">
                        {{rowData[col.field]}}
                    </span>                   
                    <span *ngIf="col.field==='STORE_ORDERABLE' && rowData[col.field]!=='Orderable' && rowData[col.field]!=='Receivable'" 
                            class="badge badge-secondary">
                        Not active
                    </span>              
                    <span *ngIf="col.field==='TREND_COMING'">
                        {{rowData[col.field] | number:'1.2' }}
                    </span>  
                    <span *ngIf="col.field==='COVERAGE'">
                        {{rowData[col.field] | percent }}
                    </span>
                    <span *ngIf="col.field==='INV_CASE'">
                        {{rowData[col.field] | number:'1.0' }}
                    </span>
                    <span *ngIf="col.field!=='STORE_ORDERABLE' && col.field!=='TREND_COMING' && col.field!=='INV_CASE' &&  col.field !=='COVERAGE'">
                        {{rowData[col.field]}}
                    </span>   
                </td>
            </tr>
        </ng-template>
    </p-table>
    <i class="pull-right" style="font-size:smaller;" >{{searchResult.length}} references</i>
</div>

