<app-page-header [heading]="'Third-Party counting integration follow-up'" [icon]="'fa-university'"
                 [(screenID)]="screenID"></app-page-header>

<div class="content-section implementation" style="padding: 5px">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<div class="bbs_search_panel"  >
    <span style="margin-right:20px; padding-left: 15px; font-weight: bolder">Counting date : </span>
    <span style="margin-right:50px; line-height: 25px">
        <p-calendar [(ngModel)]="countingDate"  name="countingDate" 
                    dateFormat="mm/dd/yy" [showIcon]="true" 
                    [showOnFocus]="true" [showOtherMonths]="true">
        </p-calendar>
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" [disabled]="countingDate === ''" 
                style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
    </span>
</div>
<p></p>


<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->

<!-- Step 1 - File upload -->
<!-- Step 2 - File to GOLD connector -->
<!-- Step 3 - GOLD Batch integration -->
<!-- Step 4 - Inventory closure -->
<!-- Step 5 - Review rejection & Analysis -->

<div  item-width="400px" table-layout="fixed" *ngIf="performedResearch == true">

        <p-table #result [value]="searchResult.counts" sortMode="multiple" 
        [rows]="5"  [rowsPerPageOptions]="[5,10,50,100]"
        [paginator]="true" [pageLinks]="3" 
        [columns]="columnsResult"
        selectionMode="single" [(selection)]="selectedElement" 
        [resizableColumns]="true" columnResizeMode="expand"
        [responsive]="true" [totalRecords]="searchResult.counts.length"
        [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="handleRowSelect($event)"
        [globalFilter]="gb" [autoLayout]="true"tableStyleClass="table-layout: auto;">
        
        <!-- FILTER -->
        <ng-template pTemplate="caption">
                <div class="pull-right">
                        <input  type="text" #gb placeholder="Type text to filter..." 
                            (input)="result.filterGlobal($any($event.target).value, 'contains')" >
                        </div>
                        <div class="ui-helper-clearfix" >
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                            class="CSV_Button"
                            label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                        </div>
        </ng-template>
        <!-- HEADER -->
            <ng-template pTemplate="header">            
                <tr>
                    <th *ngFor="let col of columnsResult" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
        <!-- BODY -->
            <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columnsResult" class="ui-resizable-column">
                            {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <i class="pull-right" style="font-size:smaller;" >{{searchResult.counts.length}} Counting</i>
</div>
<p></p>

<!-- Counting integration information result -->
<div class="row" *ngIf="selectedElement">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <p-panel [toggleable]="true">
                <p-header>
                    <b>Load and Mapping integration</b>
                </p-header>
                <div class="ui-grid">
                    <div class="ui-grid ui-grid-responsive ui-fluid ">
                        <div class="ui-grid-row">
                            <div class="col-md-8">Total # references:</div>
                            <div class="col-md-4 pull-right">{{selectedElement.totalcount}} </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Counts not processed:</div>
                            <div class="col-md-4 pull-right">{{selectedElement.tobeprocessed.total}} </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Unknown code:</div>
                            <div class="col-md-4 pull-right">{{selectedElement.unknown.total}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Failure:</div>
                            <div class="col-md-4 pull-right">{{selectedElement.failure.total}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Success:</div>
                            <div class="col-md-4 pull-right">{{selectedElement.success.total}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Others:</div>
                            <div class="col-md-4 pull-right">{{selectedElement.others.total}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Success (%):</div>
                            <div class="col-md-4 pull-right">{{selectedElement.percentage | percent }}</div>
                        </div>
                    </div>
                </div>    
            </p-panel>
        </div>    
    </div>

    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <p-panel [toggleable]="true">
                <p-header>
                    <b>Interface GOLD integration</b>
                </p-header>
                <div class="ui-grid">
                    <div class="ui-grid ui-grid-responsive ui-fluid ">
                        <div class="ui-grid-row">
                            <div class="col-md-8">Total # references:</div>
                            <div class="col-md-4 pull-right">{{search_STEP2_Result.totalcount}} </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Counts not processed:</div>
                            <div class="col-md-4 pull-right">{{search_STEP2_Result.tobeprocessed.total}} </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Failure:</div>
                            <div class="col-md-4 pull-right">{{search_STEP2_Result.failure.total}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Success:</div>
                            <div class="col-md-4 pull-right">{{search_STEP2_Result.success.total}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Success (%):</div>
                            <div class="col-md-4 pull-right">{{search_STEP2_Result.percentage | percent }}</div>
                        </div>
                    </div>
                </div>    
            </p-panel>
        </div>    
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <p-panel [toggleable]="true">
                <p-header>
                    <b>GOLD Counting steps</b>
                </p-header>
                <div class="ui-grid">
                    <div class="ui-grid ui-grid-responsive ui-fluid ">
                        <div class="ui-grid-row">
                            <div class="col-md-8">Initialisation</div>
                            <i class="fa fa-check col-md-4 pull-right" style="color: green" aria-hidden="true" *ngIf="search_STEP3_Result.initialisation >= 1 && search_STEP3_Result.progressInitialisation >= 1"></i>
                            <i class="fa fa-times col-md-4 pull-right" style="color: red"  aria-hidden="true" *ngIf="search_STEP3_Result.initialisation===0 && search_STEP3_Result.progressInitialisation===-1"></i>
                            <i style="color: green; padding-left:15px" aria-hidden="true" *ngIf="search_STEP3_Result.initialisation === 0 && search_STEP3_Result.progressInitialisation >= 0">
                                {{search_STEP3_Result.progressInitialisation | percent}}
                            </i>
                        </div>
                        <div class="ui-grid-row" style="color: gray">
                            <div class="col-md-8">Stock Copy (Optional):</div>
                            <i class="fa fa-check col-md-4 pull-right" aria-hidden="true" *ngIf="search_STEP3_Result.stkcopy >=1 && search_STEP3_Result.progressStockCopy >= 1"></i>
                            <i class="fa fa-times col-md-4 pull-right" aria-hidden="true" *ngIf="search_STEP3_Result.stkcopy===0 && search_STEP3_Result.progressStockCopy===-1"></i>
                            <i style="color: green; padding-left:15px" aria-hidden="true" *ngIf="search_STEP3_Result.stkcopy === 0 && search_STEP3_Result.progressStockCopy >= 0">
                                {{search_STEP3_Result.progressStockCopy | percent}}
                            </i>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Qty Input:</div>
                            <i class="fa fa-check col-md-4 pull-right" style="color: green"  aria-hidden="true" *ngIf="search_STEP3_Result.qty >=1"></i>
                            <i class="fa fa-times col-md-4 pull-right" style="color: red" aria-hidden="true" *ngIf="search_STEP3_Result.qty===0"></i>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Input val.:</div>
                            <i class="fa fa-check col-md-4 pull-right" style="color: green" aria-hidden="true" *ngIf="search_STEP3_Result.inputvalidation >=1"></i>
                            <i class="fa fa-times col-md-4 pull-right" style="color: red" aria-hidden="true" *ngIf="search_STEP3_Result.inputvalidation===0"></i>
                        </div>
                        <div class="ui-grid-row" style="color: gray" >
                            <div class="col-md-8">Qty adjustment (Opt.).:</div>
                            <i class="fa fa-check col-md-4 pull-right" aria-hidden="true" *ngIf="search_STEP3_Result.qtyadjustment >=1"></i>
                            <i class="fa fa-times col-md-4 pull-right" aria-hidden="true" *ngIf="search_STEP3_Result.qtyadjustment===0"></i>
                        </div>
                        <div class="ui-grid-row">
                            <div class="col-md-8">Stock update:</div>
                            <i class="fa fa-check col-md-4 pull-right" style="color: green" aria-hidden="true" *ngIf="search_STEP3_Result.stkupdate >=1 && search_STEP3_Result.progressStockUpdate >= 1"></i>
                            <i class="fa fa-times col-md-4 pull-right" style="color: red" aria-hidden="true" *ngIf="search_STEP3_Result.stkupdate===0  && 0>=search_STEP3_Result.progressStockUpdate"></i>
                            <i style="color: green; padding-left:15px" aria-hidden="true" *ngIf="search_STEP3_Result.stkupdate ===0 && search_STEP3_Result.progressStockUpdate > 0">
                                {{search_STEP3_Result.progressStockUpdate | percent}}
                            </i>
                        </div>
                    </div>
                </div>    
            </p-panel>
        </div>    
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <p-panel [toggleable]="true">
                <p-header>
                    <b>Overall integration</b>
                </p-header>
                <div class="ui-grid">
                    <div class="ui-grid ui-grid-responsive ui-fluid ">
                        <h1 class="ui-grid-row" style="display: flex;justify-content: center;align-items: center;background-color: yellow;">
                            {{overallPercentage | percent}}
                        </h1>
                    </div>
                </div>    
            </p-panel>
        </div>    
    </div>
</div>

<p></p>
<!-- Bstch processing and alerts result -->
<ng-template [ngIf]="alerts.length > 0 && selectedElement">
    <div *ngFor="let messages of alerts">
        <alert *ngFor="let alert of messages" [type]="alert.type">
            {{ alert?.msg }}
            <i *ngIf="alert.type === 'danger'" class="fa fa-exclamation-triangle pull-right" aria-hidden="true"></i>
            <i *ngIf="alert.type === 'warning'" class="fa fa-exclamation-triangle pull-right" aria-hidden="true"></i>
            <i *ngIf="alert.type === 'success'" class="fa fa-thumbs-up pull-right" aria-hidden="true"></i>
            <i *ngIf="alert.type === 'info'" class="fa fa-info-circle pull-right" aria-hidden="true"></i>
        </alert>
    </div>
</ng-template>
<p></p>

<!-- Panel for rejection and In-between Operations -->
<p-tabView *ngIf="selectedElement">
    <p-tabPanel header="Rejection" leftIcon="fas fa-eject"  >
        <div  item-width="400px" table-layout="fixed" *ngIf="rejectionData">

                <p-table #resultRejection [value]="rejectionData.rejections" sortMode="multiple" 
                [rows]="20"  [rowsPerPageOptions]="[20,100,500]"
                [paginator]="true" [pageLinks]="3" 
                [columns]="columnsResultRejection"
                selectionMode="single"
                [resizableColumns]="true" columnResizeMode="expand"
                [responsive]="true" [totalRecords]="rejectionData.rejections.length"
                [reorderableColumns]="true" scrollHeight="400px"
                [globalFilter]="gb" [autoLayout]="true"tableStyleClass="table-layout: auto;">
                
                <!-- FILTER -->
                <ng-template pTemplate="caption">
                        <div class="pull-right">
                                <input  type="text" #gb placeholder="Type text to filter..." 
                                    (input)="resultRejection.filterGlobal($any($event.target).value, 'contains')" >
                                </div>
                                <div class="ui-helper-clearfix" >
                                <button type="button" pButton icon="fas fa-file" iconPos="left" 
                                    class="CSV_Button"
                                    label="CSV" (click)="resultRejection.exportCSV()" style="float:left"></button>
                                </div>
                </ng-template>
                <!-- HEADER -->
                    <ng-template pTemplate="header">            
                        <tr>
                            <th *ngFor="let col of columnsResultRejection" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                <!-- BODY -->
                    <ng-template pTemplate="body" let-rowData let-columns="columnsResultRejection">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columnsResultRejection" class="ui-resizable-column">
                                    {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>   
    </p-tabPanel>
    <p-tabPanel header="In-Between Operation" leftIcon="fas fa-cogs" >
        <div  item-width="400px" table-layout="fixed" *ngIf="movementData">

                <p-table #resultMVT [value]="movementData.movements" sortMode="multiple" 
                [rows]="20"  [rowsPerPageOptions]="[20,100,500]"
                [paginator]="true" [pageLinks]="3" 
                [columns]="columnsResultMVT"
                selectionMode="single" 
                [resizableColumns]="true" columnResizeMode="expand"
                [responsive]="true" [totalRecords]="movementData.movements.length"
                [reorderableColumns]="true" scrollHeight="400px"
                [globalFilter]="gb" [autoLayout]="true"tableStyleClass="table-layout: auto;">
                
                <!-- FILTER -->
                <ng-template pTemplate="caption">
                        <div class="pull-right">
                                <input  type="text" #gb placeholder="Type text to filter..." 
                                    (input)="resultMVT.filterGlobal($any($event.target).value, 'contains')" >
                                </div>
                                <div class="ui-helper-clearfix" >
                                <button type="button" pButton icon="fas fa-file" iconPos="left" 
                                    class="CSV_Button"
                                    label="CSV" (click)="resultMVT.exportCSV()" style="float:left"></button>
                                </div>
                </ng-template>
                <!-- HEADER -->
                    <ng-template pTemplate="header">            
                        <tr>
                            <th *ngFor="let col of columnsResultMVT" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                <!-- BODY -->
                    <ng-template pTemplate="body" let-rowData let-columns="columnsResultMVT">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columnsResultMVT" class="ui-resizable-column">
                                    {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>
    </p-tabPanel>
</p-tabView>