.tibppStyleTabularDataOddRow {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color:#eaeef9;
}

.tibCopyright {
  color: #8498d0;
  padding: 4px;
  text-align: left;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 9px;
}

.tibcategoryHeader {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: #4863A0;
  color: white;
}

.subHeader {
  background-color: #9999ff;
  text-align: center;
  /*width: 16%; */
}