   <table style='BORDER-COLLAPSE: collapse; border-color: #c0c0c0; width:100%'>
        <tbody>
            <tr class="tibppStyleTabularDataOddRow">
                <td style='color:black; font-size: large'>4350 - UNILEVER DRY</td>		
            </tr>
            <tr class="tibppStyleTabularDataOddRow">
                <td width="50%"><b>GOLD Vendor Type:</b>External</td>
                <td><b>Send Order To: </b>Supllier</td>				
            </tr>
        
            <tr class="tibppStyleTabularDataOddRow">
                <td><b>Location Type: </b>Warehouse</td>
                <td><b>AP Vendor: </b>85535</td>
            </tr>
        
            <tr class="tibppStyleTabularDataOddRow">
                <td><b>Comments: </b>(951) 328-6811 Ap Vendor Conversion - Name Clean Up \N</td>
                <td><b>New Store Allowance: </b>Y</td>
            </tr>	
        </tbody>
    </table>

    <table style='BORDER-COLLAPSE: collapse; border-color: #c0c0c0; width:100%'>
        <tbody><tr class="tibCopyright" style='float: right; height:6'>
        <td>  </td>
        </tr>
    </tbody></table>
    
    <table style='BORDER-COLLAPSE: collapse; border-color: #c0c0c0; width:100%'>
        <tbody><tr class="tibcategoryHeader">
            <td class="tibcategoryHeader" >Agreements</td>				
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td class='subHeader'><b>Agreement Type</b></td>
            <td class='subHeader'><b>Agreement #</b></td>
            <td class='subHeader'><b>Start</b></td>
            <td class='subHeader'><b>End</b></td>
            <td class='subHeader'><b>Backhaul/Pick up<br>due date adjustment</b></td>
            <td class='subHeader'><b>Communication Mode</b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td class='subHeader'><b>PO</b></td>
            <td class='subHeader'><b>Shipping</b></td>
            <td class='subHeader'><b>Invoice</b></td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td style='text-align: left'>Commercial</td>
            <td style='text-align: center'><a href="javascript:Links('Commercial','C4350')">C4350</a></td>
            <td style='text-align:center'>07/31/2008</td>
            <td style='text-align:center'>12/31/2049</td>
            <td style='background-color: #cccccc'></td>
        </tr>
        
        <tr class="tibppStyleTabularDataOddRow">	
            <td><b>Site:</b><b>Vendor Buyer:</b> - </td>
        </tr>
         <tr class="tibppStyleTabularDataOddRow">	
            <td style='text-align: center'>Financial</td>
            <td style='text-align: center'><a href="javascript:Links('Financial','D4350')">D4350</a></td>
            <td align="center">07/13/2018</td>
            <td align="center">12/31/2049</td>
            
            <td align="center" bgcolor="#cccccc" colspan="4"></td>
            
        </tr>
    
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="9"><b>&nbsp;&nbsp;&nbsp;&nbsp;Site:</b>&nbsp;10101&nbsp;&nbsp;&nbsp;<b>Vendor Buyer:</b>&nbsp;9 - APRIL CARTER</td>
        </tr>
    
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="center" colspan="2">Financial</td>
            <td align="center">
            <a href="javascript:Links('Financial','F241')">
                    <font color="#09096B">F241</font></a>
            </td>
            <td align="center">02/20/2014</td>
            <td align="center">12/31/2049</td>
            
            <td align="center" bgcolor="#cccccc" colspan="4"></td>
            
        </tr>
    
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="center" colspan="2">Service</td>
            <td align="center">
            <a href="javascript:Links('Service','S7891')">
                    <font color="#09096B">S7891</font></a>
            </td>
            <td align="center">04/05/2014</td>
            <td align="center">12/31/2049</td>
            
            <td align="center">1</td>
            <td align="center">EDI files</td>
            <td align="center">Fax</td>
            <td align="center">Fax</td>
            
        </tr>
    
        
        <tr class="tibCopyright" align="right" height="6">
            <td colspan="9"></td>
        </tr>
    
        
    </tbody></table>
    
    
    
    
    
    <table style="BORDER-COLLAPSE: collapse" bordercolor="#c0c0c0" cellspacing="0" cellpadding="1" width="100%" border="1">
    
        <tbody><tr class="tibcategoryHeader">
            <td class="tibcategoryHeader" colspan="15" style="color: white; background-color: #4863A0" height="10"><font style="font-size: 11px">Topase Parameters</font></td>				
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Whse #</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Commercial<br>Agreement #</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Service<br>Agreement #</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Management Type</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Distribution Algorithm</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Max Truck Load</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Min Order</b></td>
            <td bgcolor="#9999ff" align="center" rowspan="2"><b>Default Unit</b></td>
            <td bgcolor="#9999ff" align="center" colspan="7"><b>Lead Time</b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="center"><b>Mon</b></td>
            <td bgcolor="#9999ff" align="center"><b>Tue</b></td>
            <td bgcolor="#9999ff" align="center"><b>Wed</b></td>
            <td bgcolor="#9999ff" align="center"><b>Thu</b></td>
            <td bgcolor="#9999ff" align="center"><b>Fri</b></td>
            <td bgcolor="#9999ff" align="center"><b>Sat</b></td>
            <td bgcolor="#9999ff" align="center"><b>Sun</b></td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">10101</td>
            <td align="center">C4350</td>
            <td align="center">S7891</td>
            <td align="center">Complete truck</td>
            <td align="center">Quantity</td>
            <td align="center">  42,000 pounds</td>
            <td align="center">-</td>
            <td align="center">Cases</td>		
            <td align="center">7</td>
            <td align="center">7</td>
            <td align="center">7</td>
            <td align="center">7</td>
            <td align="center">7</td>
            <td align="center">9</td>
            <td align="center">8</td>
        </tr>
    
    
    </tbody></table>
    
    <table style="BORDER-COLLAPSE: collapse" bordercolor="#c0c0c0" cellspacing="0" cellpadding="1" width="100%" border="0">
        <tbody><tr class="tibCopyright" align="right" height="6">
            <td>  </td>
        </tr>
    </tbody></table>
    
    
    
    
    
    <table style="BORDER-COLLAPSE: collapse" bordercolor="#c0c0c0" cellspacing="0" cellpadding="1" width="100%" border="1">
        <tbody><tr class="tibcategoryHeader">
            <td class="tibcategoryHeader" colspan="7" style="color: white; background-color: #4863A0" height="10"><font style="font-size: 11px">Address Chains</font></td>				
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="center" width="16%"><b>Address Chain #</b></td>
            <td bgcolor="#9999ff" align="center" width="11%"><b>Start</b></td>
            <td bgcolor="#9999ff" align="center" width="11%"><b>End</b></td>
            <td bgcolor="#9999ff" align="center" width="15%"><b>Order To</b></td>
            <td bgcolor="#9999ff" align="center" width="15%"><b>Invoice By</b></td>
            <td bgcolor="#9999ff" align="center" width="15%"><b>Ship From / Pick Up</b></td>
            <td bgcolor="#9999ff" align="center" width="17%"><b>Payment</b></td>
        </tr>
    
        
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="center">1</td>
            <td align="center">07/31/2008</td>
            <td align="center">12/31/2049</td>
            <td align="center">4</td>
            <td align="center">1</td>
            <td align="center">2</td>
            <td align="center">Vendor 4350 / 1</td>
        </tr>
        
    
    </tbody></table>
    
    <table style="BORDER-COLLAPSE: collapse" bordercolor="#c0c0c0" cellspacing="0" cellpadding="1" width="100%" border="0">
        <tbody><tr class="tibCopyright" align="right" height="6">
            <td>  </td>
        </tr>
    </tbody></table>
    
    
    
    
    <table style="BORDER-COLLAPSE: collapse" bordercolor="#c0c0c0" cellspacing="0" cellpadding="1" width="100%" border="1">
        <tbody><tr class="tibcategoryHeader">
            <td class="tibcategoryHeader" colspan="7" style="color: white; background-color: #4863A0" height="10"><font style="font-size: 11px">Vendor Address / Contacts</font></td>				
        </tr>
    
        
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;1</td>
            <td align="left" colspan="6"><b>UNILEVER DRY                   </b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">19 MEADOWOOD                   ,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">RANCH SANTA MARGARITA         , 				&nbsp;CA&nbsp;92688     &nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
    
        <tr class="tibppStyleTabularDataOddRow">	 
            <td align="center" rowspan="2"></td>
            <td bgcolor="9AABFF" align="center"><b>Contact Name</b></td>
            <td bgcolor="9AABFF" align="center"><b>Email</b></td>
            <td bgcolor="9AABFF" align="center"><b>Direct</b></td>
            <td bgcolor="9AABFF" align="center"><b>Fax</b></td>
            <td bgcolor="9AABFF" align="center"><b>Standard</b></td>
            <td bgcolor="9AABFF" align="center"><b>Mobile</b></td>		
        </tr>
    
        
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">KIM STOKES     </td>
            
            <td align="center"><a href="mailto:                                                  "><font color="blue">                                                  </font></a></td>
                    
            <td align="center">714-315-1405</td>
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>
    
    
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;2</td>
            <td align="left" colspan="6"><b>UNILEVER DRY                   </b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">305 WEST RESOURCE DRIVE       ,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">BLOOMINGTON, 				&nbsp;CA&nbsp;92316&nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;3</td>
            <td align="left" colspan="6"><b>ADVANTAGE SALES &amp; MARKETING   </b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">1400 S DOUGLAS RD STE 200     ,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">ANAHEIM                       , 				&nbsp;CA&nbsp;92806&nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
    
        <tr class="tibppStyleTabularDataOddRow">	 
            <td align="center" rowspan="5"></td>
            <td bgcolor="9AABFF" align="center"><b>Contact Name</b></td>
            <td bgcolor="9AABFF" align="center"><b>Email</b></td>
            <td bgcolor="9AABFF" align="center"><b>Direct</b></td>
            <td bgcolor="9AABFF" align="center"><b>Fax</b></td>
            <td bgcolor="9AABFF" align="center"><b>Standard</b></td>
            <td bgcolor="9AABFF" align="center"><b>Mobile</b></td>		
        </tr>
    
        
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">ALLYSON SHERMAN</td>
            
            <td align="center"><a href="mailto:allyson.sherman@asmnet.com                        "><font color="blue">allyson.sherman@asmnet.com                        </font></a></td>
                    
            <td align="center">714-780-3219        </td>
            <td align="center">949-555-1212    </td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">TERRY PALMER   </td>
            
            <td align="center">-</td>
                    
            <td align="center">616-831-5009        </td>
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">ANH.TRUONG@ASMN</td>
            
            <td align="center">-</td>
                    
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">RUTHE.SPEAR@ASM</td>
            
            <td align="center">-</td>
                    
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>
    
    
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;4</td>
            <td align="left" colspan="6"><b>UNILEVER DRY                   </b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">19 MEADOWOOD                   ,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">RANCH SANTA MARGARITA         , 				&nbsp;CA&nbsp;92688     &nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
    
        <tr class="tibppStyleTabularDataOddRow">	 
            <td align="center" rowspan="2"></td>
            <td bgcolor="9AABFF" align="center"><b>Contact Name</b></td>
            <td bgcolor="9AABFF" align="center"><b>Email</b></td>
            <td bgcolor="9AABFF" align="center"><b>Direct</b></td>
            <td bgcolor="9AABFF" align="center"><b>Fax</b></td>
            <td bgcolor="9AABFF" align="center"><b>Standard</b></td>
            <td bgcolor="9AABFF" align="center"><b>Mobile</b></td>		
        </tr>
    
        
        <tr class="tibppStyleTabularDataOddRow">
            <td align="center">KIM STOKES     </td>
            
            <td align="center"><a href="mailto:                                                  "><font color="blue">                                                  </font></a></td>
                    
            <td align="center">714-315-1405</td>
            <td align="center">-</td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>
    
    
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;5</td>
            <td align="left" colspan="6"><b>UNILEVER WHS</b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">305 W RESOURCE DR. ,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">BLOOMINGTON, 				&nbsp;CA&nbsp;92316&nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;6</td>
            <td align="left" colspan="6"><b>ADVANTAGE CSR CENTER</b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">56 GRANDVILLE AVE SW,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">GRAND RAPIDS, 				&nbsp;MI&nbsp;49503&nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td bgcolor="#9999ff" align="left" colspan="1" width="10%"><b>Address #</b>&nbsp;7</td>
            <td align="left" colspan="6"><b>ADVANTAGE SALES &amp; MARKETING</b></td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" rowspan="2"></td>
            <td align="left" colspan="6">1400 S DOUGLAS RD STE 200,  </td>
        </tr>
    
        <tr class="tibppStyleTabularDataOddRow">	
            <td align="left" colspan="6">ANAHEIM, 				&nbsp;CA&nbsp;92806&nbsp;&nbsp;&nbsp;United States
            </td>
        </tr>	
    
        
        <tr class="tibCopyright" align="right" height="8">
            <td colspan="7">  </td>
        </tr>
    
        
    
    </tbody></table>
    
    <table style="BORDER-COLLAPSE: collapse" bordercolor="#c0c0c0" cellspacing="0" cellpadding="1" width="100%" border="0">
        <tbody><tr class="tibCopyright" align="right" height="6">
            <td>  </td>
        </tr>
    </tbody></table>
    
    
    <script language="javascript" type="text/javascript">
        document.InqViews.Vendor.focus();
    </script>
    
