<app-page-header [heading]="'CAO missing'" [icon]="'fas fa-frog'"
                 [(screenID)]="screenID"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>


<p-tabView>
    <!-- SEARCH-->
    <p-tabPanel header="Search" leftIcon="pi pi-calendar" tooltip="Search">
    <!-- Search Panel -->
    <div class="bbs_search_panel"  >
        <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Vendor : </span>
        <span style="overflow: hidden; padding-left: 1em; width: 90%; line-height: 25px">
            <input type="text"  [(ngModel)]="searchVendorCode" placeholder="  Enter a code or a description" 
                    style="width: 50%;"/>  
        </span>

        <span class="pull-right" style="padding-right: 20px">
                <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                        style="margin-right: 15px">
                </button>
                <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" [disabled]="true"></button>
        </span>
    </div>
    <div class="bbs_search_sub_panel"  >
        <span style="margin-right:20px; padding-left: 15px; font-weight: bolder">Location : </span>
        <span style="margin-right:50px; line-height: 25px">
            <input name="location" type="number" [(ngModel)]="searchSiteCode" placeholder="" maxlength="5"
                   style="width: 5%;margin-left: 10px; text-align: center"/>
        </span>
        <span style="margin-right:20px; padding-left: 15px; font-weight: bolder">Sold last X days : </span>
        <span style="margin-right:50px; line-height: 25px" >
            <input type="number" [(ngModel)]="searchLastSaleCode" placeholder="60" maxlength="2"
                   style="width: 5%;margin-left: 10px; text-align: center" required />
        </span>

        <span style="margin-right:20px; padding-left: 15px; font-weight: bolder">Item : </span>
        <span style="margin-right:50px; line-height: 25px" >
            <input type="text" [(ngModel)]="searchItemCode" />
        </span>
    </div>


    <p></p>

    <p-dialog header="Update completed" [(visible)]="displayUpdateCompleted" modal="modal" width="500" responsive="true" [maximizable]="false">
        <span>{{msgDisplayed}}</span>
            <p-footer>
                <button style="float: right; margin-bottom:0.5em" 
                        type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                        label="Ok">
                </button>
            </p-footer>
    </p-dialog>

    <!-- Panel resul -->
    <!-- Result panel of the resarch --> 
    <!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
    <div  item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">

            <p-table #result [value]="searchResult" sortMode="multiple" 
            [rows]="50"  [rowsPerPageOptions]="[50,100,200]"
            [paginator]="true" [pageLinks]="3" 
            [columns]="columnsResult"
            selectionMode="single" [(selection)]="selectedElement" 
            [resizableColumns]="true" columnResizeMode="expand"
            [responsive]="true" [totalRecords]="searchResult.length"
            [reorderableColumns]="true" scrollHeight="400px"
            (onRowSelect)="onRowSelect($event)"
            [globalFilter]="gb" [autoLayout]="true" tableStyleClass="table-layout: auto;">
            
            <!-- FILTER -->
            <ng-template pTemplate="caption">
                    <div class="pull-right">
                            <input  type="text" #gb placeholder="Type text to filter..." 
                                (input)="result.filterGlobal($any($event.target).value, 'contains')">
                            </div>
                            <div class="ui-helper-clearfix" >
                            <button type="button" pButton icon="fas fa-file" iconPos="left" 
                                class="CSV_Button"
                                label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                            <!--button type="button" pButton icon="fas fa-wrench" iconPos="left" 
                                class="TABLE_TOP_Button"
                                label="PROCESS ALL" style="float:left"
                                [disabled]="addAllButtonStatus === 'DISABLED'"
                                (click)="addAlltoBatchList()">
                            </button-->
                            </div>
            </ng-template>
            <!-- HEADER -->
            <ng-template pTemplate="header">             
                <tr style="background: lightyellow">
                    <th *ngFor="let col of columsCollapseResult;  let indice=index" [attr.colspan]="col.colspan" 
                        [ngStyle]="{'width': col.width}" pResizableColumn>
                        {{col.header}}
                        <span *ngIf="col.expand === 1" class="fas fa-plus-square pull-right" (click)='expandColumnCaoMissing(indice)'> </span>
                        <span *ngIf="col.expand === -1" class="far fa-minus-square pull-right" (click)='expandColumnCaoMissing(indice)'></span>
                    </th>
                </tr>
                <tr>
                    <ng-container *ngFor="let col of columnsResult">
                        <th *ngIf="col.display && col.field !== 'STATUS' && col.field !== 'PRES_STOCK'" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn >
                                {{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th *ngIf="col.display && col.field === 'STATUS'" [pSortableColumn]="col.field" 
                            style="text-align: center;" pReorderableColumn pResizableColumn >
                                {{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th *ngIf="col.display && col.field === 'PRES_STOCK'" [pSortableColumn]="col.field" 
                            style="text-align: center;" pReorderableColumn pResizableColumn >
                                {{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <!-- BODY -->
                <ng-template pTemplate="body" let-rowData let-columns="columnsResult" let-index="rowIndex" >
                    <tr [pSelectableRow]="rowData" *ngIf="searchResult.length > 0">
                        <ng-container *ngFor="let col of columnsResult" class="ui-resizable-column">
                            <td *ngIf="col.display && col.field !== 'STATUS' && col.field !== 'PRES_STOCK'">
                                    {{rowData[col.field]}}
                            </td>
                            <td *ngIf="col.field === 'PRES_STOCK'" style='text-align: center;'>
                                <input type="number" [(ngModel)]="rowData['PRES_STOCK']" style="width: 50%;text-align: center;">
                            </td>
                            <td *ngIf="col.field === 'STATUS'" pTooltip ="Pres, Stock must be > 0" tooltipPosition="top" style="text-align: center;">
                                <button *ngIf="rowData['STATUS'] === 'COMPLETED'" type="submit" 
                                    class="ui-button-success"
                                    pButton (click)="updateCaoParam(rowData['STORE_NUM'], rowData['ITEM_ID'],rowData['SV'],rowData['LV'],rowData['PRES_STOCK'])" 
                                    icon="fas fa-wrench" label="COMPLETED" 
                                    #buttonCOMPLETED_{{index}}
                                    [disabled]="true"
                                    style="margin-right: 15px">
                                </button>
                                <button *ngIf="rowData['STATUS'] === 'INPROGRESS'" type="submit" 
                                        class="ui-button-warning"
                                        pButton (click)="updateCaoParam(rowData['STORE_NUM'], rowData['ITEM_ID'],rowData['SV'],rowData['LV'],rowData['PRES_STOCK'])" 
                                        icon="fas fa-wrench" label="RUNNING" 
                                        #buttonINPRIGRESS_{{index}}
                                        [disabled]="true"
                                        style="margin-right: 15px">
                                </button>
                                <button *ngIf="rowData['STATUS'] === 'EXECUTED'" type="submit" 
                                        #buttonEXECUTED_{{index}}
                                        pButton (click)="updateCaoParam(rowData['STORE_NUM'], rowData['ITEM_ID'],rowData['SV'],rowData['LV'],rowData['PRES_STOCK'])" 
                                        icon="fas fa-wrench" label="CREATE" 
                                        [disabled]="rowData['PRES_STOCK'] == 0"
                                        style="margin-right: 15px">
                                </button>
                            </td>

                        </ng-container>
                        <!--td style="justify-content: center; color: darkgoldenrod; display: flex;"> 
                            <span> Pres. Stock </span>
                        </!--td>
                        <td>
                            
                        </td-->
                    </tr>
                </ng-template>
            </p-table>
            <i class="pull-right" style="font-size:smaller;" >{{searchResult.length}} references</i>
    </div>    

    </p-tabPanel>
    <!-- My Batch List-->
    <p-tabPanel header="Default configuration" rightIcon="pi pi-star" >
        <presetcao></presetcao>
    </p-tabPanel>
    <!--p-tabPanel header="Journal" rightIcon="pi pi-inbox" tooltip="Execution journal" style="float:right">
        After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
    </p-tabPanel-->
</p-tabView>